<?xml version="1.0" encoding="utf-8"?>
<!-- Generated for Booru Extensions -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="tachiyomi.extension" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Tachiyomi: Gelbooru">
        <meta-data android:name="tachiyomix.name" android:value="Gelbooru" />
        <meta-data android:name="tachiyomi.extension.class" android:value=".Gelbooru" />
        <meta-data android:name="tachiyomi.extension.nsfw" android:value="1" />
        <meta-data android:name="tachiyomix.contentWarning" android:value="1" />
        <meta-data android:name="tachiyomix.extensionLib" android:value="1.6" />
    </application>
</manifest>
